body {
  height: 100%;
  perspective: 800px;
  margin: 0px;
  color: #374f6b;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

.main-container {
  margin: 100px auto;
  width: 600px;
}

.form-container {
  position: relative;
  padding: 100px 0px;
  background: #dcdfe5;
  border-radius: 10px;
  text-align: center;
  box-shadow: 12px 12px #374f6b;
  transition: all 1s linear;
  animation: move 3s linear infinite;
  overflow: hidden;
  height: 120px;
}

@keyframes move {
  50% {
    box-shadow: 3px 3px 8px #374f6b;
  }
}

.form {
  display: flex;
  position: absolute;
  left: -170%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 1.3s cubic-bezier(0.21, -0.5, 0.52, 1.4);
}

.login-form {
  left: 0;
  right: 0;
  margin: auto;
}

.nav-item {
  top: 5%;
  display: inline-block;
  position: absolute;
  margin-right: 10px;
  margin-top: 0px;
  font-weight: normal;
  font-size: 20px;
  transition: all 0.2s linear;
  text-decoration: underline;
}

.nav-item:hover {
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
}

.item-1 {
  left: 35%;
}
.item-3 {
  left: 49%;
}
.item-2 {
  left: 66%;
}

/* show reset and hide rest */
.item-2:hover ~ .reset-form {
  left: 0;
  right: 0;
  margin: auto;
}

.item-2:hover ~ .login-form {
  left: -170%;
}

/* show register and hide rest */
.item-3:hover ~ .register-form {
  left: 0;
  right: 0;
  margin: auto;
}

.item-3:hover ~ .login-form {
  left: -170%;
}

label {
  display: block;
  font-size: 22px;
}

input {
  border-radius: 10px;
  margin: 10px 0;
  height: 28px;
  font-size: 21px;
}

.input {
  width: 250px;
  padding: 4px;
  border: 1px solid #374f6b;
  transition: all 0.45s linear;
}

.input::placeholder {
  font-family: "Roboto Slab", serif;
  opacity: 0;
}

.input:hover {
  outline: none;
  border: 1.5px solid #2f4259;
  transform: translateZ(14px);
}

.input:focus {
  outline: none;
  border: 1.5px solid #2f4259;
  transform: translateZ(28px);
}

.email-field {
  margin-left: 42px;
}

.password-field {
  margin-left: 4px;
}

/* font awesome icons start*/
.fas {
  position: absolute;
  visibility: hidden;
}

.fa-envelope {
  top: 16px;
  left: 123px;
}
.fa-key {
  top: 70px;
  left: 123px;
}
/* font awesome icons end*/

button {
  border-radius: 10px;
  height: 36px;
  margin-left: 110px;
  margin-top: 10px;
  color: white;
  background: #77859a;
  background: linear-gradient(to left, #77859a, #37506b);
  box-shadow: 8px 8px #576a82;
  transition: all 0.3s ease-in;
  font-size: 16px;
}

button:active {
  box-shadow: 3px 3px black;
}

button:hover {
  background: linear-gradient(to left, #37506b, #77859a);
}

.btn {
  width: 260px;
}

@media (max-width: 700px) {
  .main-container {
    width: 80%;
  }
  input {
    margin: 8px 0;
    height: 20px;
    font-size: 18px;
  }
  .input {
    width: 240px;
  }
  .email-label,
  .password-label {
    font-size: 18px;
  }
  .email-field {
    margin-left: 36px;
  }
  button {
    margin-left: 90px;
  }
  .btn {
    width: 240px;
  }
}

@media (max-width: 600px) {
  .item-1 {
    left: 25%;
  }
  .item-3 {
    left: 42%;
  }
  .item-2 {
    left: 65%;
  }
  .input {
    font-size: 16px;
  }
  .email-label,
  .password-label {
    font-size: 16px;
  }
  .email-field,
  .password-field {
    margin: 10px;
    width: 240px;
  }
  .email-field {
    margin-left: 36px;
  }
  button {
    margin-left: 77px;
  }
}

@media (max-width: 490px) {
  .main-container {
    width: 90%;
  }
  .form-container {
    box-shadow: none;
    animation: none;
  }
  .item-1 {
    left: 12%;
  }
  .item-3 {
    left: 34%;
  }
  .item-2 {
    left: 65%;
  }
  .input {
    font-size: 18px;
  }
  .input::placeholder {
    opacity: 1;
  }
  .email-label,
  .password-label {
    display: none;
  }
  .fas {
    position: absolute;
    visibility: visible;
    z-index: 2;
  }
  .fa-envelope {
    top: 15px;
    left: 10px;
  }
  .fa-key {
    top: 15px;
    left: 10px;
  }
  .email-container,
  .password-container {
    width: 200px;
    margin-left: -13%;
    position: relative;
  }
  .email-field,
  .password-field {
    padding-left: 40px;
    width: 100%;
    margin-left: 0px;
    height: 25px;
  }
  .btn {
    width: 200px;
    margin-left: -5px;
    height: 35px;
  }
}
